.input-container {
    background-color: var(--tird-white);
    box-shadow: inset 4px 4px 5px var(--second-gray);
}

.search-icon {
    color: var(--second-gray);
}

.order-section {
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr))
}